/.vscode
Ejemplo 1/Ejemplo1_1_Creacion.exe
Ejemplo 1/Ejemplo1_2_Lectura.exe
Ejemplo 1/Ejemplo1_3_Escritura.exe
Ejemplo 1/Ejemplo1_4_SEEK.exe
Ejemplo 2/Ejemplo2.exe
Ejemplo 2/Ejemplo2.dsk
Ejemplo 3/build-Ejemplo3-Desktop_Qt_5_7_0_GCC_64bit-Debug
Ejemplo 3/Ejemplo3.pro.user
Ejemplo 3/Ejemplo3 VS Code/Ejemplo3.dsk
Ejemplo 4/Ejemplo4.dsk
